src/EmailLogicApp/NotifyDistributors/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "https://soh-t5-apim.azure-api.net/GetProducts",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "72112bbdcf954effbcac573777f19bfc;product=mobile-applications"
                    }
                },
                "runAfter": {}
            },
            "List_contacts": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('https://msftopenhack.crm.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items"
                },
                "runAfter": {
                    "Compose_products_table_into_HTML": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_Products": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "productId": {
                                    "type": "string"
                                },
                                "productName": {
                                    "type": "string"
                                },
                                "productDescription": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "productId",
                                "productName",
                                "productDescription"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                }
            },
            "Create_HTML_table": {
                "type": "Table",
                "inputs": {
                    "from": "@body('Parse_Products')",
                    "format": "HTML"
                },
                "runAfter": {
                    "Parse_Products": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@outputs('Compose_products_table_into_HTML')"
                },
                "runAfter": {
                    "For_each_contact": [
                        "Succeeded"
                    ]
                }
            },
            "Compose_products_table_into_HTML": {
                "type": "Compose",
                "inputs": "<!DOCTYPE html>\n<html>\n<body style=\"background-color: whitesmoke; color: #454545; font-family:'Gill Sans',\n'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-bottom: 3em;\">\n <table style=\"width:100%; color:#454545\">\n   <tr>\n     <td style=\"width:11em;\">\n       <img style=\"margin-left:1em;\"\n       src=\"https://serverlessoh.azureedge.net/public/ice-cream-2202561_320-circle.jpg\"\n         height=\"160\" width=\"160\" alt=\"Fruit Ice Cream\">\n     </td>\n     <td>\n       <p style=\"font-style: italic; font-size: 50px;\n       font-weight:600; margin-left: 1em;\">Best For You Organics</p>\n     </td>\n   </tr>\n </table>\n <p style=\"text-align: center; font-style: italic; font-size:\n 80px;\">New Ice Cream Line!</p>\n <p style=\"margin:2em 0em; font-size: 20px; text-align: center;\">\n Best For You Organics have a new line of fruit flavored ice creams.\n Below is the information so you can start the ordering process:\n </p>\n <table style=\"width:100%; border-top: 1px solid #454545;\n border-bottom: 1px solid #454545; color:#454545; padding: 1em; font-size: 20px;\">\n   <thead>\n     <tr>\n       <th style=\"padding-bottom: 1em;\" align=\"left\">Ice Cream</th>\n       <th style=\"padding-bottom: 1em;\" align=\"left\">Description</th>\n       <th style=\"padding-bottom: 1em;\" align=\"left\">Product ID</th>\n     </tr>\n   </thead>\n   <tbody style=\"font-size: 16px;\">\n@{body('Create_HTML_table')}\n   </tbody>\n </table>\n <p style=\"text-align: center; margin-top: 3em;font-size: 20px;\">Please contact\n your representative at Best For You Organics to get more information..</p>\n</body>\n</html>",
                "runAfter": {
                    "Create_HTML_table": [
                        "Succeeded"
                    ]
                }
            },
            "For_each_contact": {
                "type": "Foreach",
                "foreach": "@body('List_contacts')?['value']",
                "actions": {
                    "Send_an_email_to_contacts": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "office365"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "@items('For_each_contact')?['emailaddress1']",
                                "Subject": "team 5",
                                "Body": "<p>@{outputs('Compose_products_table_into_HTML')}</p>",
                                "Cc": "juanserv@microsoft.com"
                            },
                            "path": "/v2/Mail"
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {
                    "List_contacts": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}